node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# build
android/app/build
android/build
ios/build
# misc
*.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

